%h2
  == #{link_to @group.name, group_events_path(@group)}'s Meetup

%h3 RSVP's
%table
  %tr
    %th Picture
    %th Name
    %th Status
    %th 
  - @rsvps.each do |rsvp| 
    %tr
      %td= image_tag rsvp.photo_url, :width => 75
      %td
        %strong= link_to rsvp.name, rsvp.link
        %p= rsvp.comment
      %td{:class => rsvp.respone}= rsvp.response.humanize
      %td
        = simple_form_for :meetup_rsvp, :url => rsvps_path do |f|
          = f.hidden_field :meetup_id, :value => rsvp.id
          = f.hidden_field :member_id, :value => rsvp.member_id
          = f.submit "Check-In"
%h3 Present
%h3 Absent

-content_for :sidebar do
  %p== <strong>Event Name:</strong> #{@event.name}
  = link_to "Visit Website", @event.event_url
  = simple_format(@event.description)